html, body {
  margin: 0;
  padding:0;
  background-color: #000;
  display: flex;
  justify-content:space-evenly;
}
canvas {
  display: flex;
}

div {
flex-direction:column;
  color:#fff;
  font-family: 'Space Mono', monospace;
  font-size:10rem;
}

/* #row1{
  flex-direction:column
}

#row2{
  flex-direction:column
} */