html, body {
/*   width: 50%; */
/*   background-color: powderblue; */
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff
}
canvas {
  display: block;
}


.RiTa_Styles{
  font-size: 25px
  padding: 10px;
  color: white;  
  background-color: #000000
}

.footer {
  font-family:Arial;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0px;
  margin: 100px;
/*   background-color: red; */
  color: gray;
  text-align: left;
}

@media only screen and (min-width: 600px){
  width: 50%;
}